.div_um{
    background-color: blue;
    width: 100%;
    height: 50px;
}
.div_dois{
    background-color: red;
    width: 100%;
    height: 100px;
}
.div_tres{
    background-color: blue;
    width: 100%;
    height: 50px;
}
.div_quatro{
    background-color: green;
    width: 100%;
    height: 50px;
}